<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Wembsite</title>
    style
         include ../css/bootstrap.min.css         
         include ../css/style.css         
         include ../css/toastr.min.css   
    script(defer)
        include ../js/bootstrap.bundle.js
        

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blogs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"> Link</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form action="/logout" method="post" class="d-flex">
                    <button class="btn btn-danger" type="submit" class="btn">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid my-5">
        <h1 class="my-5">Welcome <span id="user">#{user.name}</span></h1>
        <div class="container">
            <a href="/articles/add" class="btn btn-lg btn-info">Add A new Title</a>
        </div>        
    </div>
    <div class="container">
            <div class="row" id="articles">
                
            </div>
    </div>

</body>
script 
    include ../js/jquery.js
    include ../js/index.js
    include ../js/toastr.min.js
</html>